{%extends 'header.html'%}
{%block body%}
<div class="container" style="margin-top:30px;">
        <form action="register" method="POST" >
          {%csrf_token %}
          <div align="center" class="mt-3 px-2" >
              <div class="md-form form-lg">
                <input type="text" id="inputLGEx" class="form-control form-control-lg" name="firstname" placeholder="First Name: " required>
              </div><br><br>
              <div class="md-form form-lg">
                <input type="text" id="inputLGEx" class="form-control form-control-lg" name="lastname" placeholder="Last Name: " required>
              </div><br><br>
              <div class="md-form form-lg">
                <input type="email" id="inputLGEx" class="form-control form-control-lg" name="email" placeholder="E-mail" required>
              </div><br><br>
              <div class="md-form form-lg">
                <input type="text" id="inputLGEx" class="form-control form-control-lg" name="username" placeholder="User Name: " required>
              </div><br><br>
              <div class="md-form form-lg">
                <input type="password" id="inputLGEx" class="form-control form-control-lg" name="pwd1" placeholder="Password" required>
              </div><br><br>
              <div class="md-form form-lg">
                <input type="password" id="inputLGEx"  class="form-control form-control-lg" name="pwd2" placeholder="Confirm Password" required>
              </div><br><br>
              <div class="md-form form-lg">
                <select name="type" class="form-control form-control-lg">
                    <option selected disabled>User Type</option>
                    <option value='1'>Patient</option>
                    <option value='2'>Doctor</option>
                </select>
              </div><br><br>
        
              <div>
                <input type="submit"   value="Register" class="btn btn-dark py-3 px-5"><br>
              </div>  
          </div>
        </form>
      {%for message in messages%}
      
      <script>alert("{{message}}")</script> 
      {%endfor %}
      </div>

      </div>
    </div>
    </div>
{%endblock%}